
button {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10%;
}

#output {
  margin-top: 1.5rem;
  background: white;
  width: 95%;
  max-width: 600px;
  min-height: 300px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 2rem;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(49, 59, 114); 
}

.header {
  background-color: rgb(70, 34, 85);
  padding: 1rem;
  text-align: center;
  color: white;
  border-radius: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
